<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Queue JS -->
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <!-- Topo JSON JS -->
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <!-- D3 Legend -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.13.0/d3-legend.min.js"></script>
    <!-- Globe JS -->
    <script src="plot.js"></script>	
    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <!-- Our JS -->
    <script type="text/javascript" src="../static/js/app.js"></script>
    
    <title>Feelin' Hot Hot Hot</title>
  </head>
  <body>
  
    <div class="jumbotron hero-image">
      <h1 class="display-4">Feelin' Hot Hot Hot!</h1>
      <p class="lead">Is the climate changing? Are global temperatures actually rising?</p>
      <hr class="my-4" width="50%">
      <p>We used <a href="https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data">Kaggle dataset</a> from <a href="http://berkeleyearth.org/about/">Berkeley Earth</a>, which is affiliated with Lawrence Berkeley National Laboratory.<br> 
      The Berkeley Earth Surface Temperature Study combines 1.6 billion temperature reports from 16 pre-existing archives.</p>
      <select id="selVisual" onchange="optionChanged(this.value)">
        <option value="table">Data Table</option>
        <option value="globe">Globe</option>
        <option value="map">Map</option>
      </select>
    </div>
  
    <div class="container" id="visualizations">
        <h1 class="display-4">KILLER</h1>
        <h1 class="display-4">VISUALIZATIONS</h1>
        <h1 class="display-4">SERVED</h1>
        <h1 class="display-4">UP</h1>
        <h1 class="display-4">HERE</h1>
    </div>
      

    <div id="footer">
      <p>© 2019 Dream Team</p>
    </div>
  </body>
</html>